<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
  <section data-aos="fade-up">
    <div class="contact-us__title"><h2>ارتباط با ما</h2>
      <h3>شما میتوانید نظرات و انتقادات خود را اینجا ثبت کنید</h3></div>
    <div class="contact-us container block">
      <div class="contact-us__form">
        <div class="form-wrapper">
          <form action="">
    
            <h2>ارسال نظرات</h2>
            <input type="text" placeholder="نام و نام خانوادگی" />
            <input type="email" placeholder="ایمیل خود را وارد کنید" dir="ltr" />
            <textarea
              name="نظر خود را بنویسید"
              id=""
              cols="30"
              rows="12"
              placeholder="نظر خود را بنویسید"
            ></textarea>
            <button type="submit" class="btn btn--primary">Send</button>
          </div>
          </form>
      </div>
      <div class="contact-us__icon">
        <div class="icon-holder">
          <span class="icon-holder__label">info@gmail.com</span>
          <span class="icon-container">
            <svg class="icon icon--small">
              <use xlink:href="./assets/images/svg-sprite.svg#message"></use>
            </svg>
          </span>
        </div>
        <div class="icon-holder">
          <span class="icon-holder__label">0744167672</span>
          <span class="icon-container">
            <svg class="icon icon--small">
              <use xlink:href="./assets/images/svg-sprite.svg#phone"></use>
            </svg>
          </span>
        </div>
        <div class="icon-holder">
          <span class="icon-holder__label">Pol-sorkh</span>
          <span class="icon-container">
            <svg class="icon icon--small">
              <use xlink:href="./assets/images/svg-sprite.svg#map"></use>
            </svg>
          </span>
        </div>
      </div>
      <div class="contact-us__map">
        <img src="./assets/images/IMG_20210615_213534_871.jpg" alt="">
      </div>
      <div class="contact-us__social">
        <span class="icon-container">
          <img src="./assets/images/linkedin.png" alt="" height="40px">
        </span>
        <span class="icon-container">
          <img src="./assets/images/telegram.png" alt="" height="40px">
        </span>
        <span class="icon-container">
          <img src="./assets/images/twitter.png" alt="" height="40px">
        </span>           
      </div>
      </section> 
</body>
</html>