<section class="block--plan container">
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">اقتصادی</span>
          <span class="badge badge--secondary">10% OFF</span>
        </span>
        <span class="plan__price">290,000</span>
        <span class="plan__belling-cycle">ماهانه / تومان</span>
        <span class="plan__discription">ماشین های معمولی</span>
      </header>
      <div class="card__body">
        <list>
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul>
        </list>
        <button class="btn btn--secondary btn--block">
          ورود و ثبت نام پنل سازمانی
        </button>
      </div>
    </div>
  </div>
  <div class="plan plan--popular">
    <div class="card Card--primary">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">کلاسیک</span>
          <span class="badge badge--primary">15% OFF</span>
        </span>
        <span class="plan__price">390,000</span>
        <span class="plan__belling-cycle">ماهانه / تومان</span>
        <span class="plan__discription">ماشین های کلاسیک</span>
      </header>
      <div class="card__body">
        <list>
          <ul class="list list--tick">
            <li class="list__item">کیفیت کلاسیک</li>
            <li class="list__item">کیفیت کلاسیک</li>
            <li class="list__item">کیفیت کلاسیک</li>
          </ul>
        </list>
        <button class="btn btn--primary btn--block">
          ورود و ثبت نام پنل سازمانی
        </button>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">ویژه</span>
          <span class="badge badge--secondary">20% OFF</span>
        </span>
        <span class="plan__price">490,000</span>
        <span class="plan__belling-cycle">ماهانه / تومان</span>
        <span class="plan__discription">ماشین های ویژه</span>
      </header>
      <div class="card__body">
        <list>
          <ul class="list list--tick">
            <li class="list__item">کیفیت ویژه</li>
            <li class="list__item">کیفیت ویژه</li>
            <li class="list__item">کیفیت ویژه</li>
          </ul>
        </list>
        <button class="btn btn--secondary btn--block">
          ورود و ثبت نام پنل سازمانی
        </button>
      </div>
    </div>
  </div>
</section>
