<section class="services container block">
  <h2 class="services__title">سرویس های تپسی</h2>
  <div class="services__tabs" id="nav-tab" role="tablist">
    <a class="tab active" data-tab-target="nav-classic-tab">
      <img
        src="https://tapsi.ir/images/home/cc-classic.png"
        aria-label="classic service icon"
        alt="tapsi-classic-icon"
      />
      <p>تپسی کلاسیک</p>
    </a>
    <a class="tab" data-tab-target="nav-motopeyk-tab">
      <img
        src="https://tapsi.ir/images/home/cc-motopeyk.png"
        aria-label="motopeyk service icon"
        alt="motopeyk-icon"
      />
      <p>موتوپیک</p>
    </a>
    <a class="tab" data-tab-target="nav-autopeyk-tab">
      <img
        src="https://tapsi.ir/images/home/cc-autopeyk.png"
        aria-label="autopeyk service icon"
        alt="autopeyk-icon"
      />
      <p>اتوپیک</p>
    </a>
    <a class="tab" data-tab-target="nav-plus-tab">
      <img
        src="https://tapsi.ir/images/home/cc-plus.png"
        aria-label="plus service icon"
        alt="tapsi-plus-icon"
      />
      <p>تپسی پلاس</p>
    </a>
    <a class="tab" data-tab-target="nav-tel-tab">
      <img
        src="https://tapsi.ir/images/home/cc-tel.png"
        aria-label="tel service icon"
        alt="tapsi-tel-icon"
      />
      <p>تپسی تلفنی</p>
    </a>
    <a class="tab" data-tab-target="nav-hamyar-tab">
      <img
        src="https://tapsi.ir/images/home/cc-hamyar.png"
        aria-label="hamyar service icon"
        alt="hamyar-icon"
      />
      <p>همیار</p>
    </a>
    <a class="tab" data-tab-target="nav-hamkhat-tab">
      <img
        src="https://tapsi.ir/images/home/cc-hamkhat.png"
        aria-label="hamkhat service icon"
        alt="hamkhat-icon"
      />
      <p>هم&zwnj;خط</p>
    </a>
    <a class="tab" data-tab-target="nav-taxi-tab">
      <img
        src="https://tapsi.ir/images/home/cc-taxi.png"
        aria-label="taxi service icon"
        alt="tapsi-taxi-icon"
      />
      <p>تاکسی</p>
    </a>
    <a class="tab" data-tab-target="nav-line-tab">
      <img
        src="https://tapsi.ir/images/home/cc-line.png"
        aria-label="line service icon"
        alt="tapsi-line-icon"
      />
      <p>تپسی لاین</p>
    </a>
  </div>
  <div class="container">
    <div class="tab--content active" id="nav-classic-tab">
      <div class="feature__image">
        <img
          src="https://tapsi.ir/images/home/cc-classic.png"
          alt="imac-computer"
        />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
    <div class="tab--content" id="nav-motopeyk-tab">
      <div class="feature__image">
        <img src="./assets/images/imac-computer.png" alt="imac-computer" />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
    <div class="tab--content" id="nav-autopeyk-tab">
      <div class="feature__image">
        <img src="./assets/images/imac-computer.png" alt="imac-computer" />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
    <div class="tab--content" id="nav-plus-tab">
      <div class="feature__image">
        <img src="./assets/images/imac-computer.png" alt="imac-computer" />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
    <div class="tab--content" id="nav-tel-tab">
      <div class="feature__image">
        <img src="./assets/images/imac-computer.png" alt="imac-computer" />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
    <div class="tab--content" id="nav-hamyar-tab">
      <div class="feature__image">
        <img src="./assets/images/imac-computer.png" alt="imac-computer" />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
    <div class="tab--content" id="nav-hamkhat-tab">
      <div class="feature__image">
        <img src="./assets/images/imac-computer.png" alt="imac-computer" />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
    <div class="tab--content" id="nav-taxi-tab">
      <div class="feature__image">
        <img src="./assets/images/imac-computer.png" alt="imac-computer" />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
    <div class="tab--content" id="nav-line-tab">
      <div class="feature__image">
        <img src="./assets/images/imac-computer.png" alt="imac-computer" />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">تپسی کلاسیک</h2>
        <p class="feature__text">
          پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
          همزمان تعداد نامحدودی خودرو و پیک را بریا کسب و کار ها و سازمان ها
          فراهم میکند. و با استفاده از ان میتوانید ماموریت های درو ن شهریر و
          ارسال کالا های خود را به سادگی مدیریت کنید
        </p>
      </div>
    </div>
  </div>
</section>
